@model IEnumerable<Capa_Entidad.PROC_Cargos_Result>

@{
    ViewBag.Title = "CargosLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Cargos</h2>

<p>
    <a class="btn btn-success btn-lg" title="Nuevo" href="@Url.Action("Create", "CARGOS")"><i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_CAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_CAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo)
        </td>
        <td>
            <a class="btn btn-success btn-xs" title="Editar" href="@Url.Action("Edit", "CARGOS", new { id = item.ID_CAR })"><i class="glyphicon glyphicon-pencil"></i></a>  |
            <a class="btn btn-primary btn-xs" title="Detalles" href="@Url.Action( "DetalleCargo", "CARGOS", new { id = item.ID_CAR })"><i class="glyphicon glyphicon-eye-open"></i></a> |
            <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action( "Delete", "CARGOS", new { id = item.ID_CAR })"><i class="glyphicon glyphicon-erase"></i></a>
        </td>
    </tr>
}

</table>
