@model Capa_Entidad.Cargos

@{
    ViewBag.Title = "DetalleCargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Cargos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_CAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cargo)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success btn-lg" title="Editar" href="@Url.Action("Edit", new { id = Model.ID_CAR })"><i class="glyphicon glyphicon-pencil"></i></a> |
    <a class="btn btn-primary btn-lg" title="Ir a la lista" href="@Url.Action("Details")"><i class="glyphicon glyphicon-eye-open"></i></a> |
    <a class="btn btn-danger btn-lg" title="Eliminar" href="@Url.Action("Delete", new { id = Model.ID_CAR})"><i class="glyphicon glyphicon-erase"></i></a>
</p>
