@model IEnumerable<Capa_Entidad.Nominas>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

<p>
    <a class="btn btn-success btn-lg" title="CREAR NUEVO" href="@Url.Action("Create")"><i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_NOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Año)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_NOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Año)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MontoTotal)
        </td>
        <td>
            <a class="btn btn-success btn-xs" title="Editar" href="@Url.Action("Edit", new { id = item.ID_NOM })"><i class="glyphicon glyphicon-pencil"></i></a>  |
            <a class="btn btn-primary btn-xs" title="Detalles" href="@Url.Action( "DetalleNomina", new { id = item.ID_NOM })"><i class="glyphicon glyphicon-eye-open"></i></a> |
            <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action( "Delete", new { id = item.ID_NOM })"><i class="glyphicon glyphicon-erase"></i></a>
        </td>
    </tr>
}

</table>
