@model Capa_Entidad.Vacaciones

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>ESTÁS SEGURO DE ELIMINAR ESTE ELEMENTO?</h3>
<div>
    <h4>Vacaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_VAC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_VAC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_EMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_EMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrespondienteA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrespondienteA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a class="btn btn-primary btn-lg" title="IR LA LISTA" href="@Url.Action("Details")"><i class="glyphicon glyphicon-eye-open"></i></a>
        </div>
    }
</div>
