@model IEnumerable<Capa_Entidad.Vacaciones>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista</h2>

<p>
    <a class="btn btn-success btn-lg" title="Nuevo" href="@Url.Action("Create")"><i class="glyphicon glyphicon-plus"></i></a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID_VAC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_EMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrespondienteA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID_VAC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_EMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrespondienteA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            <a class="btn btn-success btn-xs" title="Editar" href="@Url.Action("Edit", new { id = item.ID_VAC })"><i class="glyphicon glyphicon-pencil"></i></a>  |
            <a class="btn btn-primary btn-xs" title="Detalles" href="@Url.Action( "DetalleVAC", new { id = item.ID_VAC })"><i class="glyphicon glyphicon-eye-open"></i></a> |
            <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action( "Delete", new { id = item.ID_VAC })"><i class="glyphicon glyphicon-erase"></i></a>
        </td>
    </tr>
}

</table>
